<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donkingliang.imageselector">
    //调用相机权限
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <provider
            android:name="com.donkingliang.imageselector.provider.ImageSelectorProvider"
            android:authorities="${applicationId}.imageSelectorProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_selector_file_paths" />
        </provider>

        //图片选择Activity
        //去掉Activity的ActionBar。
        //使用者可以根据自己的项目去配置，不一定要这样写，只要让Activity的ActionBar去掉就可以了。
        //横竖屏切换处理。
        //如果要支持横竖屏切换，一定要加上这句，否则在切换横竖屏的时候会发生异常。
        <activity android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        //图片预览Activity
        <activity android:name="com.donkingliang.imageselector.PreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        //图片剪切Activity
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>